@import '../global.scss';


.addbook {
    border: 1px solid $defaultBorderColor;
    border-radius: 10px;
    margin: 4em;
    padding: 1em 2em 1em 2em; 
    background-color: $defaultBackgroundColor;
    position: absolute;
    z-index: -2;
    width: 89%;
}

.addbook::after {
    content: "";
    background-image: url('http://localhost:8000/images/aukeama2.png') ;
    background-repeat: 'repeat';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
     position: absolute;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    width: auto;
}

.buttoncancel {
    margin-left: 1em;
}

.form-label {
    font-weight: 600;
    background-color: $formLabelBackgroundColor
}
.form-control {
    text-overflow: ellipsis;
}